<div class="container h-100">
     <div class="row h-100 justify-content-center align-items-center">
         <div class="_form">
        <legend class="form_name">Submit Solution</legend>
        <form #editorForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label class="col-md-4 control-label" for="source">Source Code</label>
                <div class="col-md-4">                     
                <textarea 
                    class="form-control" 
                    id="source" 
                    rows="8" 
                    name="source"
                    [(ngModel)]="editor.solutionSourceCode">
                </textarea>  
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" for="stdin">Input</label>
                <div class="col-md-4">                     
                <textarea 
                    class="form-control" 
                    id="stdin" 
                    [(ngModel)]="editor.stdin"
                    name="stdin"
                    ngModel>
                </textarea>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" for="language">Language</label>
                <div class="col-md-4">
                <select id="language" [(ngModel)]="language" name="language" class="form-control" (change)="changedLanguage($event)">
                    <option value="c">C</option>
                    <option value="cpp">C++</option>
                    <option value="java">Java</option>
                </select>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                 <button id="submit" name="submit" class="btn btn-success">Run</button>
                </div>
            </div>                    
        </form> 
        <div>
            <pre class="output_text"></pre>
        </div>
    </div>
    </div>
</div>